body {
    background-color: rgb(81, 101, 81);
}

.container {
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    border: 2px solid rgb(74, 74, 74);
    background-color: rgb(213, 225, 213);
    width: 60%;
    height: 30%;
    padding: 10% 0;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(72, 72, 72);
}

#count {
    font-size: 6rem;
}
